<div class="row justify-content-md-center" *ngIf="utente">
    <div class="col-10">
        <div class="form-group row">
            <label for="numeroContribuinte" class="col-sm-3 col-form-label">Numero Contribuinte</label>
            <div class="col-sm-9">
                <input [(ngModel)]="utente.numeroContribuinte" type="number" maxlength="9" class="form-control" id="numeroContribuinte" name="numeroContribuinte"
                    required #numeroContribuinte="ngModel">
                <div *ngIf="numeroContribuinte.invalid && (numeroContribuinte.dirty || numeroContribuinte.touched)" class="alert alert-danger">
                    <div *ngIf="numeroContribuinte.errors.required">
                        Campo Número Contribuinte é obrigatório
                    </div>
                    <div *ngIf="numeroContribuinte.errors.maxlength">
                        Não é permitido números com mais 9 digitos.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="nome" class="col-sm-3 col-form-label">Nome</label>
            <div class="col-sm-9">
                <input [(ngModel)]="utente.nome" type="text" class="form-control" minlength="3" id="nome" name="nome" required #nome="ngModel">
                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
                    <div *ngIf="nome.errors.required">
                        Campo nome é obrigatório
                    </div>
                    <div *ngIf="nome.errors.minlength">
                        O nome deve ser maior que 2 caracteres.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataNascimento" class="col-sm-3 col-form-label">Data Nascimento</label>
            <div class="col-sm-9">
                <input [ngModel]="utente.dataNascimento | date:'yyyy-MM-dd'" type="date" class="form-control" id="dataNascimento" name="dataNascimento"
                    #dataNascimento="ngModel" required>
                <div *ngIf="dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched)" class="alert alert-danger">
                    <div *ngIf="dataNascimento.errors.required">
                        Campo Data de Nascimento é obrigatório
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">Situação Profissional</div>
            <div class="col-sm-9">
                <div class="form-check">
                    <input [(ngModel)]="utente.situacaoProfissionalAtiva" class="form-check-input" type="checkbox" id="situacaoProfissionalAtiva">
                    <label class="form-check-label" for="situacaoProfissionalAtiva">
                        Ativa
                    </label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="update();" [disabled]="nome.invalid || numeroContribuinte.invalid || dataNascimento.invalid">Atualizar</button>
    </div>
</div>